p-dialog
.rectanguloDialog{
  border-radius: 80px;
}
.usuariosLabel {
  height: 30px;
  width: 164px;
  color: #757575;
  font-family: "Google Sans";
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  padding-bottom: 38px;
  padding-top: 38px;
}

ion-content{
  --ion-background-color:  #F4F4F4;
}