<!-- <ion-header no-border *ngIf="isLogedIn()">
    <ion-toolbar>
        <app-status-afip-ss-events></app-status-afip-ss-events>
        <ion-buttons slot="secondary">
            <ion-button (click)="presentPopover($event)" >
                <ion-icon slot="icon-only" name="contact" size="large"></ion-icon>
                <ion-icon slot="icon-only" name="more" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->

<div class="bar bar-header bar-balanced" *ngIf="isLogedIn()">
    <ion-toolbar>
        <ion-buttons slot="secondary">
            <ion-button (click)="presentPopover($event)" >
                <ion-icon slot="icon-only" name="contact" size="large"></ion-icon>
                <ion-icon slot="icon-only" name="more" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</div>