<ion-content padding>

  <div style="height: 40px">
    <label class="configuracionLabel">Perfil <label class="separacionEntre"> > </label> Cambiar Contraseña </label>
  </div>

  <p-growl [(value)]="msgs"></p-growl>
  <div class="ui-fluid">

    <div class="ui-g">
      <div class="ui-g-12">
        <div class="card no-margin shadow-box ui-shadow-3">
          <h1> Cambiar Password</h1>

          <form [formGroup]="cambioPasswordForm" (ngSubmit)="send()">
            <div class="ui-g form-group">

              <div class="ui-g-12 ui-md-12">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                  <span class="md-inputfield">
                    <input type="password" formControlName="oldPassword" pInputText id="oldPassword" />
                    <label>Ingrese su Clave</label>
                  </span>
                </div>
                <ng-container *ngFor="let validation of validationMessages.oldPassword">
                  <p-message
                    *ngIf="form.oldPassword.hasError(validation.type) && (form.oldPassword.dirty || form.oldPassword.touched)"
                    [severity]="validation.severity" [text]="validation.message"></p-message>
                </ng-container>
              </div>

              <div class="ui-g-12 ui-md-12">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
                  <span class="md-inputfield">
                    <input type="password" formControlName="newPassword" pPassword id="newPassword" />
                    <label>Clave Nueva</label>
                  </span>
                </div>
                <ng-container *ngFor="let validation of validationMessages.newPassword">
                  <p-message
                    *ngIf="form.newPassword.hasError(validation.type) && (form.newPassword.dirty || form.newPassword.touched)"
                    [severity]="validation.severity" [text]="validation.message"></p-message>
                </ng-container>
              </div>

              <div class="ui-g-12 ui-md-12">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
                  <span class="md-inputfield">
                    <input type="password" formControlName="newPassword2" pPassword id="newPassword2" />
                    <label>Repita Clave</label>
                  </span>
                </div>
                <ng-container *ngFor="let validation of validationMessages.newPassword2">
                  <p-message
                    *ngIf="form.newPassword2.hasError(validation.type) && (form.newPassword2.dirty || form.newPassword2.touched)"
                    [severity]="validation.severity" [text]="validation.message"></p-message>
                </ng-container>
              </div>

              <div class="ui-g-12 ui-md-2"></div>
              <div class="ui-g-12 ui-md-4 ion-padding-top">
                <button pButton type="submit" label="Guardar" icon="ui-icon-save" class="ui-button-success"
                  [disabled]="!cambioPasswordForm.valid"></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>