<p-toast></p-toast>
<ion-content padding>
	<div class="container">
		<p-card>
			<label class="configuracionLabel">Vouchers emitidos</label>
			<p-growl [(value)]="msgs">
			</p-growl>
			<ion-row class="section">
				<ion-col size="12" size-sm="12" size-md="12" size-lg="12">
					<ion-card>
						<ion-grid>
							<ion-row>
								<ion-col>
									<div class="ui-fluid">

										<!-- BUSCAR -->
										<div class="ui-g-4 ui-md-4" style="width: 30%;">
											<span>
												<ion-searchbar placeholder="Buscar" [(ngModel)]="busqueda"
													(ionChange)="changeFilterHandler($event)">
												</ion-searchbar>
											</span>
										</div>

										<!-- FECHA DESDE -->
										<div class="ui-g-2 ui-md-2" style="padding-top: 25px; width: 20%;">
											<span class="ui-float-label">
												<p-calendar [locale]="es"
															[showIcon]="true"  
															[(ngModel)]="fechaDesde" 
															[maxDate]="fechaHasta"
															(onSelect)="selectFechaDesde()"                                              
															[monthNavigator]="true" 
															[yearNavigator]="true"
															dateFormat="dd-mm-yy"
															[readonlyInput]="true">
												</p-calendar>
												<label>Fecha desde </label>
											</span>
										</div>
				
										<!-- FECHA HASTA -->
										<div class="ui-g-2 ui-md-2" style="padding-top: 25px; width: 20%;">
											<span class="ui-float-label">
												<p-calendar [locale]="es"
															[showIcon]="true" 
															[(ngModel)]="fechaHasta" 
															[minDate]="fechaDesde"
															(onSelect)="selectFechaHasta()"                                          
															[monthNavigator]="true" 
															[yearNavigator]="true"
															dateFormat="dd-mm-yy"
															[readonlyInput]="true">
												</p-calendar>
												<label>Fecha hasta </label>
											</span>
										</div>

										<!-- ESTADO -->
										<div class="ui-g-2 ui-md-4" style="padding-top: 25px; width: 20%;">
											<span>
												<p-dropdown (onChange)="changeFilterHandler($event)" [options]="estados"
													[(ngModel)]="filter.estado" [autoWidth]="false"
													[autoDisplayFirst]="false"></p-dropdown>
											</span>
										</div>

										<div class="ui-g-2 ui-md-2" style="margin-top: 10px; width: 60px;">
											<span class="ui-float-label">
												<button pButton type="button" class="ui-button-success"
													(click)="limpiarFiltros()">
													<img class="limpiarFiltro"
														src="https://icons.iconarchive.com/icons/icons8/windows-8/512/Data-Clear-Filters-icon.png"
														alt="Limpiar filtros" />
												</button>
											</span>
										</div>
									</div>
								</ion-col>

							</ion-row>
							<ion-row>
								<ion-col *ngIf="!showTabla" class="sin-archivos">
									<div class="ui-table-caption ui-widget-header ng-star-inserted">
										No se encontraron vouchers
									</div>
								</ion-col>
								<ion-col *ngIf="showTabla">
									<p-table [columns]="columnas" [value]="vouchers" dataKey="email"
										[style]="{'margin-bottom':'20px'}" [paginator]="true" [rows]="5"
										[totalRecords]="vouchers.length" [rowsPerPageOptions]="[5,10,20,30]"
										[loading]="loading">
										<ng-template pTemplate="caption">
											Vouchers
										</ng-template>
										<ng-template pTemplate="header" let-columns>
											<tr>
												<th *ngFor="let col of columns" [pSortableColumn]="col.field">
													{{col.header}}
													<p-sortIcon [field]="col.field"></p-sortIcon>
												</th>
												<th style="text-align: center;">
													<span> </span>
												</th>
											</tr>
										</ng-template>
										<ng-template pTemplate="body" let-rowData let-columns="columns">
											<tr [pSelectableRow]="rowData">
												<td *ngFor="let col of columns">
													<div *ngIf="col.fechaDesde">
														{{formatearFecha(rowData[col.field])}}
													</div>
													<div *ngIf="col.fechaHasta">
														{{formatearFecha(rowData[col.field])}}
													</div>
													<div *ngIf="!col.fechaHasta && !col.fechaDesde">
														{{ rowData[col.field] }}
													</div>
												</td>
												<td>
													<div style="text-align: center">
														<i class="pi pi-trash" style="font-size: 2em; cursor: pointer;"
															(click)="confirmDelete(rowData)"></i>
													</div>
												</td>
											</tr>
										</ng-template>
									</p-table>
								</ion-col>
							</ion-row>

						</ion-grid>
					</ion-card>
				</ion-col>
			</ion-row>
		</p-card>
	</div>
</ion-content>

<p-dialog [(visible)]="displayVoucherEmitidoModal" [modal]="true" [responsive]="true"
	[style]="{width: '600px', minWidth: '600px'}" [maximizable]="false" [baseZIndex]="10000" appendTo="body">
	<p-header>
		Editar voucher
	</p-header>
	<form [formGroup]="voucherForm" (ngSubmit)="guardarVoucher()">
		<p-growl [(value)]="formMsgs">
		</p-growl>
		<div class="ui-fluid">
			<div class="ui-g">
				<div class="ui-g-12">
					<div class="ui-g form-group">

						

					</div>
				</div>
			</div>
		</div>

		<p-footer>
			<div class="ui-g-12 ui-md-12" style="text-align: right">
				<button type="button" pButton icon="pi pi-times" (click)="displayVoucherEmitidoModal=false"
					label="Cancelar" class="ui-button-danger"></button>&nbsp;
				<button type="button" pButton icon="pi pi-check" (click)="actualizarVoucher()"
					label="Modificar" class="ui-button-success"></button>&nbsp;
			</div>
		</p-footer>
	</form>
</p-dialog>
<app-footer></app-footer>