p-dialog
.rectanguloDialog{
  border-radius: 80px;
}
.voucherLabel {
  height: 30px;
  width: 164px;
  color: #757575;
  font-family: "Google Sans";
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  padding-bottom: 38px;
  padding-top: 38px;
}

.sin-archivos{
  height: 350px;
}

.limpiarFiltro{
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

ion-content{
  --ion-background-color:  #cacaca;
}





$red: #e84c3d;
$grey: #ecedef;
$black: #343434;
$green: #15b800;

.cardWrap {
  width: 800px;
  height: auto;
  //margin: 3em auto;
  color: #fff;
  font-family: sans-serif;
}

.card {
  background: linear-gradient(to bottom, $red 0%, $red 20%, $grey 20%, $grey 100%);
  float: left;
  position: relative;
  padding: 1em;
}

.cardLeft {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 568px;
  height: 300px;
}

.cardRight {
  width: 160px;
  height: 300px;
  border-left: .18em dashed #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: .9em;
    height: .9em;
    background: #fff;
    border-radius: 50%;
    left: -.5em;
  }
  &:before {
    top: -.4em;
  }
  &:after {
  bottom: -.4em;
  }
}

h1 {
  font-size: 1.1em;
  margin-top: 0;
  span {
    font-weight: normal;
  }
}

.nombre, .estado, .obs, .fac-asoc, .desde, .hasta {
  text-transform: uppercase;
  font-weight: normal;
  h2 {
    font-size: .9em;
    color: #525252;
    margin: 0;
   }
  span {
    font-size: .7em;
    color: #a2aeae;
  }
}

.nombre {
  margin: 2em 0 0 0;
}

.estado, .desde, .fac-asoc, .obs {
  margin: .7em 0 0 0;
}

.obs{
  float: right;

  span {
    float: right;
  }
}

.hasta {
  margin: .7em 0 0 1em;
}

.desde, .hasta {
  float: left;
}

.eye {
  position: relative;
  width: 2em;
  height: 1.5em;
  background: #fff;
  margin: 0 auto;
  border-radius: 1em/0.6em;
  z-index: 1;
  &:before, &:after {
    content:"";
    display: block;
    position: absolute;
    border-radius: 50%;
  }
  &:before {
    width: 1em;
    height: 1em;
    background: $red;
    z-index: 2;
    left: 8px;
    top: 4px;
  }
  &:after {
  width: .5em;
  height: .5em;
  background: #fff;
  z-index: 3;
  left: 12px;
  top: 8px;
  }
}

.cod {
  text-align: center;
  text-transform: uppercase;
  h3 {
    color: $red;
    margin: .9em 0 0 0;
    font-size: 2.5em;
    
  }
  span {
    display: block;
    color: #a2aeae;
  }
}

.copia {
  text-align: center;
  text-transform: uppercase;
  h3 {
    color: $black;
    margin: .9em 0 0 0;
    font-size: 1.0em;
    
  }
  span {
    display: block;
    color: #a2aeae;
  }
}

.valor {
  text-align: center;
  text-transform: uppercase;
  h3 {
    color: $green;
    margin: .9em 0 0 0;
    font-size: 1.5em;
    
  }
  span {
    display: block;
    color: #a2aeae;
  }
}