<p-toast></p-toast>
<ion-content padding>
	<div class="container">
		<p-card>
			<label class="configuracionLabel">Vouchers</label>
			<p-growl [(value)]="msgs">
			</p-growl>
			<ion-row class="section">
				<ion-col size="12" size-sm="12" size-md="12" size-lg="12">
					<ion-card>
						<ion-grid>
							<ion-row>
								<ion-col>
									<div class="ui-fluid">

										<!-- BUSCAR -->
										<div class="ui-g-4 ui-md-4" style="width: 30%;">
											<span>
												<ion-searchbar placeholder="Buscar" [(ngModel)]="busqueda">
												</ion-searchbar>
											</span>
										</div>

										<!-- FECHA DESDE -->
										<div class="ui-g-2 ui-md-2" style="padding-top: 25px; width: 15%;">
											<span class="ui-float-label">
												<p-calendar [locale]="es" [showIcon]="true" [(ngModel)]="fechaDesde"
													[maxDate]="fechaHasta" (onSelect)="selectFechaDesde()"
													[monthNavigator]="true" dateFormat="dd-mm-yy"
													[readonlyInput]="true">
												</p-calendar>
												<label>Vencimiento desde </label>
											</span>
										</div>

										<!-- FECHA HASTA -->
										<div class="ui-g-2 ui-md-2" style="padding-top: 25px; width: 15%;">
											<span class="ui-float-label">
												<p-calendar [locale]="es" [showIcon]="true" [(ngModel)]="fechaHasta"
													[minDate]="fechaDesde" (onSelect)="selectFechaHasta()"
													[monthNavigator]="true" dateFormat="dd-mm-yy"
													[readonlyInput]="true">
												</p-calendar>
												<label>Vencimiento hasta </label>
											</span>
										</div>

										<!-- ESTADO -->
										<div class="ui-g-2 ui-md-4" style="padding-top: 25px; width: 15%;">
											<span>
												<p-dropdown [options]="estados" [(ngModel)]="filter.estado"
													[autoWidth]="false" [autoDisplayFirst]="false"></p-dropdown>
											</span>
										</div>

										<div class="ui-g-2 ui-md-2" style="padding-top: 25px; width: 20%;">
											<span class="ui-float-label">
												<button pButton type="button" class="ui-button-success" label="Buscar"
													(click)="changeFilterHandler()"></button>
											</span>
										</div>

										<div class="ui-g-2 ui-md-2" style="margin-top: 20px; width: 60px;">
											<span class="ui-float-label">
												<button pButton type="button" class="ui-button-success"
													(click)="limpiarFiltros()">
													<img class="limpiarFiltro"
														src="https://icons.iconarchive.com/icons/icons8/windows-8/512/Data-Clear-Filters-icon.png"
														alt="Limpiar filtros" />
												</button>
											</span>
										</div>
									</div>
								</ion-col>

							</ion-row>
							<ion-row>
								<ion-col *ngIf="!showTabla" class="sin-archivos">
									<div class="ui-table-caption ui-widget-header ng-star-inserted">
										No se encontraron vouchers
									</div>
								</ion-col>
								<ion-col *ngIf="showTabla">
									<p-table [columns]="columnas" [value]="vouchers" [style]="{'margin-bottom':'20px'}"
										[paginator]="true" [rows]="ROWS" [totalRecords]="totalRecords"
										[rowsPerPageOptions]="[5,10,15]" (onLazyLoad)="getVouchers($event)"
										[lazy]="true">
										<ng-template pTemplate="caption">
											Vouchers
										</ng-template>
										<ng-template pTemplate="header" let-columns>
											<tr>
												<th *ngFor="let col of columns" [pSortableColumn]="col.field">
													{{col.header}}
													<p-sortIcon [field]="col.field"></p-sortIcon>
												</th>
												<th style="text-align: center;">
													<span> </span>
												</th>
											</tr>
										</ng-template>
										<ng-template pTemplate="body" let-rowData let-columns="columns">
											<tr [pSelectableRow]="rowData">
												<td *ngFor="let col of columns">
													<div *ngIf="col.fechaDesde">
														{{formatearFecha(rowData[col.field])}}
													</div>
													<div *ngIf="col.fechaHasta">
														{{formatearFecha(rowData[col.field])}}
													</div>
													<div *ngIf="col.estado">
														{{formatearEstado(rowData[col.field])}}
													</div>
													<div *ngIf="!col.fechaHasta && !col.fechaDesde && !col.estado">
														{{ rowData[col.field] }}
													</div>
												</td>
												<td>
													<div style="text-align: center">
														<i class="pi pi-copy" style="font-size: 2em; cursor: pointer;"
															(click)="reemplazarVoucher(rowData)"
															*ngIf="formatearEstado(rowData['estado'])=='NO DISPONIBLE' && !existeDuplicado(rowData)"></i>&nbsp;
														<i class="pi pi-pencil" style="font-size: 2em; cursor: pointer;"
															(click)="showFechaVencimiento(rowData)"
															*ngIf="formatearEstado(rowData['estado'])=='VENCIDO'"></i>&nbsp;
														<i class="pi pi-eye" style="font-size: 2em; cursor: pointer;"
															(click)="showVoucher(rowData)"
															*ngIf="permisoDetalle"></i>&nbsp;
														<i class="pi pi-trash" style="font-size: 2em; cursor: pointer;"
															(click)="confirmDelete(rowData)"
															*ngIf="formatearEstado(rowData['estado'])=='EMITIDO'"></i>
														<i class="pi pi-trash" style="font-size: 2em; cursor: pointer;"
															(click)="showMotivoBaja(rowData)"
															*ngIf="formatearEstado(rowData['estado'])=='UTILIZADO'"></i>
													</div>
												</td>
											</tr>
										</ng-template>
									</p-table>
								</ion-col>
							</ion-row>

						</ion-grid>
					</ion-card>
				</ion-col>
			</ion-row>
		</p-card>
	</div>
</ion-content>

<!-- DETALLE VOUCHER -->
<p-dialog [(visible)]="displayVoucherModal" [modal]="true" [responsive]="true"
	[style]="{width: '800px', minWidth: '800px', 'height': 'auto'}" [maximizable]="false" [baseZIndex]="10000"
	appendTo="body">
	<p-header>
		Detalle del voucher
	</p-header>

	<div class="ui-fluid">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="ui-g form-group">


					<div class="cardWrap">
						<div class="card cardLeft">
							<h1>{{ datosVoucher.empresa }}</h1>
							<div class="nombre">
								<h2>{{ datosVoucher.dni }}&nbsp;{{ datosVoucher.nombreApellido }}</h2>
								<span>Propietario</span>
							</div>
							<div class="estado" [ngClass]="{'estado-verde': datosVoucher.estado=='EMITIDO'||datosVoucher.estado=='UTILIZADO',
															'estado-rojo': datosVoucher.estado=='VENCIDO'||datosVoucher.estado=='ELIMINADO'||datosVoucher.estado=='SIN ESTADO',
															'estado-amarillo': datosVoucher.estado=='NO DISPONIBLE'||datosVoucher.estado=='A FACTURAR'}">
								<h2>{{ datosVoucher.estado }}</h2>
								<span>Estado</span>
							</div>
							<div class="estado">
								<h2>{{ datosVoucher.estadosPasados }}</h2>
								<span>Estados pasados</span>
							</div>

							<div class="fac-asoc">
								<h2>{{ datosVoucher.facturaAsociada }}</h2>
								<span>Factura asociada</span>
							</div>
							<div class="desde">
								<h2>{{ formatearFecha(datosVoucher.fechaDesde) }}</h2>
								<span>Vigente desde</span>
							</div>
							<div class="hasta">
								<h2>{{ formatearFecha(datosVoucher.fechaHasta) }}</h2>
								<span>Vencimiento</span>
							</div>

							<div class="obs">
								<h2>{{ datosVoucher.observacion }}</h2>
								<span>Observaciones</span>
							</div>

						</div>
						<div class="card cardRight">
							<div class="eye"></div>
							<div class="cod">
								<h3>{{ datosVoucher.codigoVoucher }}</h3>
								<span>Código</span>
							</div>

							<div class="copia">
								<h3>{{ datosVoucher.idCopia }}</h3>
								<span>Copia</span>
							</div>

							<div class="valor">
								<h3>${{ datosVoucher.valor }}</h3>
								<span>Valor</span>
							</div>

						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

	<p-footer>
		<div class="ui-g-12 ui-md-12" style="text-align: right">
			<button type="button" pButton icon="pi pi-times" (click)="displayVoucherModal=false" label="Cerrar"
				class="ui-button-danger"></button>&nbsp;
		</div>
	</p-footer>

</p-dialog>

<!-- FECHA DE VENCIMIENTO -->
<p-dialog [(visible)]="displayFechaVencimiento" [modal]="true" [responsive]="true"
	[style]="{width: 'auto', 'height': 'auto'}" [maximizable]="false" [baseZIndex]="10000" appendTo="body">
	<p-header>
		Modificar fecha de vencimiento
	</p-header>

	<div class="ui-fluid">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="ui-g form-group">
					<div class="ui-g-6 ui-md-6" style="width: 100%;">
						<span class="ui-float-label">
							<p-calendar [locale]="es" [showIcon]="true" [minDate]="vencimientoNuevoVoucher"
								[(ngModel)]="nuevoVoucher.fechaHasta" [inline]="true" [monthNavigator]="true"
								dateFormat="dd-mm-yy" [readonlyInput]="true">
							</p-calendar>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<p-footer>
		<div class="ui-g-12 ui-md-12" style="text-align: right">
			<button type="button" pButton icon="pi pi-times" (click)="cerrarModal()" label="Cerrar"
				class="ui-button-danger"></button>&nbsp;
			<button type="button" pButton icon="pi pi-check" (click)="actualizarVoucher()" label="Aceptar"
				class="ui-button-success"></button>&nbsp;
		</div>
	</p-footer>
</p-dialog>

<!-- OBSERVACION BAJA -->
<p-dialog [(visible)]="displayObservacionBaja" [modal]="true" [responsive]="true"
	[style]="{width: 'auto', 'height': 'auto'}" [maximizable]="false" [baseZIndex]="10000" appendTo="body">
	<p-growl [(value)]="motivomsg">
	</p-growl>
	<p-header>
		Motivo baja de voucher
	</p-header>

	<div class="ui-fluid">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="ui-g form-group">
					<div class="ui-g-6 ui-md-6" style="width: 100%;">
						<span class="md-inputfield">
							<input type="text" pInputText [(ngModel)]="nuevoVoucher.observacion"
								placeholder="Observación" />
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<p-footer>
		<div class="ui-g-12 ui-md-12" style="text-align: right">
			<button type="button" pButton icon="pi pi-times" (click)="cerrarModal()" label="Cerrar"
				class="ui-button-danger"></button>&nbsp;
			<button type="button" pButton icon="pi pi-check" (click)="eliminarUtilizado()" label="Aceptar"
				class="ui-button-success"></button>&nbsp;
		</div>
	</p-footer>
</p-dialog>
<app-footer></app-footer>