<ion-content>
  <p-growl [(value)]="msgs"></p-growl>
  <div class="login-body">
    <div class="card login-panel ui-fluid rectangleLogin">
      <div class="ui-g">

        <img src="assets/icon/favicon.png" class="logo-musimundo-1" />

        <span class="gestion-voucher">Recuperar Contrase&ntilde;a</span>

        <span class="bienvenido-inicie">Por favor, ingrese su e-mail para
          restablecer su contrase&ntilde;a</span>

        <!--        emulo un espacio, se tiene que sacar -->
        <span class="bienvenido-inicie"></span>
        <form [formGroup]="recuperarClaveForm" (ngSubmit)="send()">
          <div class="ui-g-12">
            <span class="md-inputfield">
              <input type="email" formControlName="email" pInputText style="color: white;"/>
              <label class="labelInput">Email</label>
              <p></p>
              <ng-container *ngFor="let validation of validationMessages.email">
                <p-message class="error-message"
                  *ngIf="form.email.hasError(validation.type) && (form.email.dirty || form.email.touched)"
                  [severity]="validation.severity" [text]="validation.message"></p-message>
              </ng-container>
            </span>
          </div>
          <div class="ui-g-12">
            <button pButton type="submit" label="Enviar" class="buttonLogin" icon="ui-icon-person"></button>
          </div>

          <div class="ui-g-15">
            <div class="ui-g-7 left">
              <span class="labelInput">Recordas tu contrase&ntilde;a?</span>
            </div>
            <div class="ui-g-5">
              <span class="olvide-mi-contrasena" [routerLink]="['/login']"
                routerLinkActive="router-link-active">Inici&aacute; sesi&oacute;n</span>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</ion-content>