<ion-content>
  <p-growl [(value)]="msgs"></p-growl>
  <div class="login-body">
    <div class="card login-panel ui-fluid rectangleLogin">
      <div class="ui-g">

        <img src="assets/icon/favicon.png" class="logo-musimundo-1" />

        <span class="gestion-voucher">Gesti&oacute;n de vouchers</span>

        <span class="bienvenido-inicie">Bienvenido! Inicie sesi&oacute;n con su cuenta</span>

        <span class="bienvenido-inicie"></span>


        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="ui-g-12">
            <span class="md-inputfield">
              <input type="email" id="email" formControlName="email" pInputText autofocus placeholder="Email" />
            </span>
            <ng-container *ngFor="let validation of validationMessages.email">
              <p-message *ngIf="form?.email.hasError(validation.type) && (form?.email.dirty || form?.email.touched)"
                [severity]="validation.severity" [text]="validation.message"></p-message>
            </ng-container>
          </div>
          <div class="ui-g-12">
            <span class="md-inputfield">
              <input type="password" id="password" pInputText formControlName="password" placeholder="Password" />
            </span>
            <ng-container *ngFor="let validation of validationMessages.email">
              <p-message
                *ngIf="form?.password.hasError(validation.type) && (form?.password.dirty || form?.password.touched)"
                [severity]="validation.severity" [text]="validation.message"></p-message>
            </ng-container>
          </div>

          <div class="ui-g-15">
            <div class="ui-g-6 left">
              <p-checkbox class="labelInput" labelStyleClass="labelInput" name="recordar" value="Recordar"
                label="Recordar" inputId="recordar"></p-checkbox>
            </div>

            <div class="ui-g-6">
              <span class="olvide-mi-contrasena" [routerLink]="['/recuperar-password']"
                routerLinkActive="router-link-active">Olvidé mi contraseña</span>
            </div>
          </div>

          <div class="ui-g-8 margenLeftBIng">
            <button pButton type="submit" label="Ingresar" class="buttonLogin" icon="ui-icon-person"></button>
          </div>
        </form>

      </div>
    </div>
  </div>
</ion-content>