$primaryColor: #3e464c;
$primaryDarkColor: #2b3135;
$primaryLightColor: #777d81;
$accentColor: #5180ce;
$accentDarkColor: #EDEDED;
$accentLightColor: #86b0f5;
$accentTextColor: #ffffff; // $accentTextColor: #757575;

@import '../sass/theme/_theme';