<p-confirmDialog header="Confirmar Accion" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<block-ui></block-ui>
<ion-app>
    <app-header></app-header>
    <ion-split-pane style="margin-top:45px">
        <ion-menu menu-id="menuContent">
            <ion-content class="item">
                <ion-list>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item [routerDirection]="'root'">
                            <i class="ui-icon-dashboard"></i>
                            <ion-label class="labelPanel">Dashboard {{empresa}}</ion-label>
                        </ion-item>

                        <ion-item (click)="isVoucher === 1 ? isVoucher = 0 : isVoucher = 1" class="labelPanel" style="cursor: pointer;">
                            <ion-icon src="../assets/icon/repo-t.svg"></ion-icon>
                            <ion-label class="labelPanel"> Vouchers</ion-label>
                            <ion-icon slot="end" [name]="isVoucher? 'arrow-dropdown' : 'arrow-dropright'" color="white"></ion-icon>
                        </ion-item>

                        <ion-menu-toggle auto-hide="false">
                            <ion-list>
                                <ion-item menuclose [hidden]="!(isVoucher === 1)" [routerLink]="'/voucher-emitido'"
                                    class="labelPanel" style="margin-left: 20px;">
                                    <ion-icon src="../assets/icon/diseniador_docs-t.svg"></ion-icon>
                                    <ion-label class="labelPanel"> Emitidos</ion-label>
                                </ion-item>

                                <ion-item menuclose [hidden]="!(isVoucher === 1)" [routerLink]="'/voucher-utilizado'"
                                    class="labelPanel" style="margin-left: 20px;">
                                    <ion-icon src="../assets/icon/diseniador_docs-t.svg"></ion-icon>
                                    <ion-label class="labelPanel"> Utilizados</ion-label>
                                </ion-item>

                                <ion-item menuclose [hidden]="!(isVoucher === 1)" [routerLink]="'/voucher-eliminados'"
                                    class="labelPanel" style="margin-left: 20px;">
                                    <ion-icon src="../assets/icon/diseniador_docs-t.svg"></ion-icon>
                                    <ion-label class="labelPanel"> Eliminados</ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-menu-toggle>

                        <ion-item [routerDirection]="'root'" [routerLink]="'/historial'" class="labelPanel">
                            <ion-icon src="../assets/icon/notificacion-t.svg"></ion-icon>
                            <ion-label class="labelPanel"> Historial</ion-label>
                        </ion-item>

                        <ion-item [routerDirection]="'root'" [routerLink]="'/archivos-excel'" class="labelPanel">
                            <ion-icon src="../assets/icon/auditoria-t.svg"></ion-icon>
                            <ion-label class="labelPanel"> Archivos excel</ion-label>
                        </ion-item>

                        <ion-item (click)="isConf === 1 ? isConf = 0 : isConf = 1" class="labelPanel" style="cursor: pointer;">
                            <ion-icon src="../assets/icon/configuracion-t.svg"></ion-icon>
                            <ion-label class="labelPanel"> Configuración</ion-label>
                            <ion-icon slot="end" [name]="isConf? 'arrow-dropdown' : 'arrow-dropright'" color="white"></ion-icon>
                        </ion-item>

                        <ion-menu-toggle auto-hide="false">
                            <ion-list>
                                <ion-item menuclose [hidden]="!(isConf === 1)" [routerLink]="'/usuarios'"
                                    class="labelPanel" style="margin-left: 20px;">
                                    <ion-icon src="../assets/icon/configuracion-t.svg"></ion-icon>
                                    <ion-label class="labelPanel"> Usuarios</ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-menu-toggle>

                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>

        <ion-router-outlet #menuContent main id="menuContent"></ion-router-outlet>

    </ion-split-pane>

</ion-app>